@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@600&family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
  background-color: #fffffc;
}
/*SCROLLBAR*/ 
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dcdcdc; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f38e40; 
  }
.loader {
  display: block;
  position: relative;
  left: 45%;
  top: 400px;
}

.duo {
  height: 20px;
  width: 50px;
  background: hsla(0, 0%, 0%, 0.0);
  position: absolute;
  
}

.duo, .dot {
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.duo1 {
  left: 0;
}

.duo2 {
  left: 30px
}


.dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #333;
  position: absolute;
}

.dot-a {
  left: 0px;  
}

.dot-b {
  right: 0px;
}


@keyframes spin {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(180deg) }
  100% { transform: rotate(180deg) }
}

@keyframes onOff {
    0% { opacity: 0; }
   49% { opacity: 0; }
   50% { opacity: 1; }
  100% { opacity: 1; }
}

.duo1 {
  animation-name: spin;
}

.duo2 {
  animation-name: spin;
  animation-direction: reverse;
}

.duo2 .dot-b {
  animation-name: onOff;
}

.duo1 .dot-a {
  opacity: 0;
  animation-name: onOff;
  animation-direction: reverse;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 1s;
  z-index: 1;
  background-color: #232f5455;
  width: 100%;
  height: 60px;
  margin: 0px;
  display: block;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

#header.header-scrolled{
  background-color: white;
  animation: fadeInm linear 5s;
}

@keyframes fadeIntm {
  0% {opacity:0;}
  50% {opacity: 0.5;}
  100% {opacity:1;}
}
#header img {
    display: block;
    float: left;
    margin-top: 5px;
    width: 45px;
    height: 45px;
}
#logo0{
  display: block;
  transition: all 1s;
}
#logo1{
  display: none;
  transition: all 1s;
}
#logo0.logo0{
  display: none;
}
#logo1.logo1{
  display: block;
}
#header .container {
    padding-right: 2%;
    padding-left: 3%;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Meu Container */

#nav-menu-container {
    float: right;
    display: block;
    margin-top: 10px;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}
/* Nav Meu Styling */

.nav-menu a{
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}
.nav-menu a.changecolor{
  color: #232f54;
}
.nav-menu .menu-active,
.nav-menu a:hover {
  color: #f38e40;
  display: block;
}
.nav-menu .menu-active.active{
  color: #1376bc;
}
.nav-menu > li {
  margin-left: 4px;
}
.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #1376bc;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before{
  visibility: visible;
  width: 100%;
}
.men{
  display: none;
}

@media screen and (max-width: 850px) {
    .nshow{
      display: none;
    }
    .sidepanel  {
      background-color: #232f54;
      width: 0;
      position: fixed;
      z-index: 1;
      height: 100%;
      top: 0;
      right: 0;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidepanel a:hover {
        border-bottom: 3px solid #f38e40;
    }
    .openbtn{
        /*background-color: #00000000;
        color: #ffffff;
        font-size: 24px;
        border: 2px solid #00000000;
        cursor: pointer;
        transition: 1s;
        height: 30px;
        width: 30px;*/
        background-color: #00000000;
        color: #ffffff;
        font-size: 15px;
        border: 2px solid #00000000;
        cursor: pointer;
        transition: 1s;
        height: 20px;
        width: 20px;
    }
    .upstyle{
        color: #232f54;
        background-color: #ffffff;
        border: 2px solid #ffffff;
    }
    .closebtn {
        background-color: #232f54;
        color: #ffffff;
        font-size: 30px;
        border: 2px solid #232f54;
        cursor: pointer;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 25px;
        width: 30px;
    }
    .openbtn:hover,.closebtn:hover {
        border: 2px solid #f38e40;
        color: #f38e40;
        background-color: #ffffff;
    }

    .men{
        float: right;
        padding: 10px 5px 10px 10px;
        display: block;
    }
    .men span{
      color: #ffffff;
      font-size: 18px;
      padding: 15px;
      font-weight: 600;

    }
    .men a{
      padding: 7px 15px 7px 15px;
      margin: 15px 0 15px 0;
      text-decoration: none;
      display: block;
      color: #ffffff;
      font-size: 24px;
      outline: none;
    }

  .men .menu-active,
  .men a:hover {
        color: #f38e40;
    }
}
/*--------------------------------------------------------------
# Navigation Menu End
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/
/*.slideshow-containerc {
  width: 100%;
  position: relative;
}*/
.abovecontmain{
  overflow: hidden;
}
.bgmain{
  overflow: hidden;
}
.slideshow-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.prev, .next,.buttontogallery {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 16px;
  color: #232f54;
  font-size: 24px;
  font-weight: 800;
  transition: 0.6s ease;
  border-radius: 50%;
}
.buttontogallery{
  background-color: #232f5400;
  color: #ffffff;
  border-radius: 20px;
  top: 80%!important;
  left: 50%;
  width: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-left: -100px;
  border: 2px solid #ffffff;
}
.buttontogallery:hover,
.gallook:hover{
  background-color: #ffffff00;
  color: #1376bc;
  border: 2px solid #1376bc;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #1376bc;
}
.overmainimage{
    color: #ffffff;
    position:absolute ;
    top: 50%;
    left: 50%;
    border: 5px solid white;
    text-align: center;
    letter-spacing: 2px;
    padding: 30px;
    animation-duration: 6s!important;
    font-size: 60px;
    transform: translate(-50%,-50%);
    animation: myAnim 2s ease 0s infinite normal forwards;
}
.overmainimage1{
    color: #ffffff;
    position:absolute ;
    top: 55%;
    left: 50%;
    letter-spacing: 5px;
    transform: translate(-50%,-50%);
    width: 100%;
    font-size: 100px;
    text-align: center;
}
.fade-in-text {
  display: inline-block;
  animation: fadeInt linear 3s;
}

@keyframes fadeInt {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes myAnim {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
.homecontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  font-weight: 400;
  overflow: hidden;
}
#hc-image.animate{
  animation: mymoveimg 3s;
}
@keyframes mymoveimg {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
}
.rmcont{
  padding: 20px 0;
  align-self: center;
  z-index: 0;
  text-align: -webkit-center;
}
.rmcont a{
  padding:  5px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  background-color: #254e9c;
  border: 2px solid #254e9c;
}
.rmcontc{
  padding-top: 20px;
  align-self: center;
}
.rmcontc a{
  padding:  5px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  background-color: #f38e40;
  border: 2px solid #f38e40;
}
.rmcont a:hover,
.rmcontc a:hover{
  background-color: #ffffff;
  border: 2px solid #1376bc;
  color: #1376bc;
}
.sponsors-title{
  text-align: center;
  margin-top: 80px;
  padding: 0 0 20px;
}
.sponsors-title span{
  color: #f38e40;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 30px;
}
.sponsors-cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 5% 0px;
}

.sponsors-cards .logo{
  width: 15%;
  display: flex;
  height: 120px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 0 15px;
}
.sponsors-cards .logo a{
  padding: 15% 0;
}
.sponsors-cards img{
  width: 100%;
}
.contactplace {
    position: relative;
    background-color: #232f54e0;
    height: 350px;
}
.contactplace .centered-text{
    position:absolute ;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#ffffff ;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    width: 80%;
    padding: 0 20px;
}
.contactplace p{
    position:absolute ;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#ffffff ;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    width: 50%;
    padding: 0 20px;
}
.contactplace .buttoncu{
  padding-top: 25px;
  position:absolute ;
  top:70%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.top1 {
   background-image:radial-gradient(transparent, black), url('../images/bgfrnt.jpg');
   height: 750px;
   width: 100%;
   background-size: cover;
   background-position: 50%;
   animation: shrink 10s infinite;
}
.top2 {
   background-image:linear-gradient(360deg,#ffffff2e, #000000b8), url(../images/commaward2.jpg);
   height: 750px;
   width: 100%;
   background-size: cover;
   background-position: 50%;
   animation: shrink 10s infinite;
}
.top3{
   height: 750px;
   width: 100%;
   background-size: cover;
   background-position: 50%;    
}
.top3g1{
   background-image: url('../images/tss_gallery/47.jpg');
}
.top3g2{
   background-image: url('../images/tss_gallery/40.jpg');
}
.top3g3{
   background-image: url('../images/tss_gallery/19.jpg');
}
.top3g4{
   background-image: url('../images/tss_gallery/9.jpg');
}
.top3g5{
   background-image: url('../images/tss_gallery/8.jpg');
}
.top4{
   height: 750px;
   width: 100%;
   background-size: cover;
   background-position: 50%;
   animation: shrink 10s infinite;  
}
.top5 {
   background-image: radial-gradient(circle at 20% 35%, #ffffff00 22%,#232f5485 45%, #232f54 100%),url('../images/tomebc.JPG');
   height: 750px;
   width: 100%;
   background-size: cover;
   background-position: 50%;
   animation: shrink 10s infinite;
}

.top6 {
   background-image: radial-gradient(circle, transparent, white),url('../images/partners.jpg');
   height: 750px;
   width: 100%;
   background-size: cover;
   background-position: 50%;
   animation: shrink 10s infinite;
}

.top7 {
   background-image: radial-gradient(circle, transparent, black),url('../images/tss_gallery/11.JPG');
   height: 750px;
   filter: blur(2px);
   width: 100%;
   background-size: cover;
   background-position: 50%;
   animation: shrink 10s infinite;
}
@keyframes shrink {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.03, 1.03);
  }
  100% {
    transform: scale(1, 1);
  }
}
.homecontainer{
  position: relative;
  overflow: hidden;
}

.overmainimage2{
    color: #ffffff;
    position:relative;
    font-size: 32px;
    text-align: center;
}
.aboutcont,
.mebccont{
    top: -580px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: -webkit-center; 
}
.aboutcont span,
.mebccont span{
  font-weight: 800;
}
.abtcontent,
.mebccontent{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}
.abtcontent span,
.mebccontent span{
  font-size: 30px;
  margin-bottom: 20px;
}
.aboutcont p,
.mebccont p,
.newscont p{
  font-size: 16px;
  width: 80%;
}
.abtwrapper,
.mebcwrapper{
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 400px;
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.abtcontainer,
.mebccontainer{
  width: 20%;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #232f5400;
  animation: expand 3s;
  border-bottom: 10px solid #232f5400;
  cursor: pointer;
}
.abtcontainer:hover,
.mebccontainer:hover{
    background-color: rgba(255,255,255,.05);
    backdrop-filter: blur(9.5px);
    box-shadow: 0 0 10px 5px rgb(253 248 247 / 32%);
    border-bottom: 10px solid #232f54;
}
.mainenergy{
  bottom: 100px;
  z-index: 1;
}
.mainsolar:hover,
.mainopen:hover{
  border-bottom: 10px solid #1376bc;
}
.top4p{
   background-image: radial-gradient(#232f5444, black 90%), url('../images/moanco-2.jpg');
}
.top4p1{
  background-image: radial-gradient(transparent, black 90%), url('../images/solarclass.jpg')!important;
}
.top4p2{
  background-image: radial-gradient(transparent, black 90%), url('../images/energyclass.JPG');
}
.top4p3{
  background-image: radial-gradient(transparent, black 90%), url('../images/opensea.jpg');
}
.mebcbutt{
  top: 550px!important;
}
@keyframes expand {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100%{
    transform: scale(1,1);
  }
}
.abtcontainer i,
.mebccontainer i,
.newscont i{
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
}
.abtcontainer span.abtnum {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
.abtcontainer span.abttext,
.mebccontainer span.abttext,
.newscont span.abttext {
  color: #ffffff;
  text-align: center;
  padding: 0.7em 0;
  font-weight: 800;
  line-height: 1;
}
.tocont{
    top: -300px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: -webkit-center; 
}
.tomebccont{
  margin-left: 50%;
}
.tomebcclock{
  border-top: 5px solid white;
  border-bottom:5px solid white;
  padding:20px;
  display: flex;
  width: 100%;
  font-size: 60px;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all 1s ease;
}
.tomebcclock .clk{
  width: 25%;
  align-content: center;
}
.tomebccont span{
  font-size: 60px;
}
.tomebcclock span{
  font-size: 60px;
}
.newscont{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #00000033;
  animation: expand 3s;
  border-bottom: 10px solid #1376bc;
  cursor: pointer;
}
.newscont:hover{
    background-color: rgba(255,255,255,.05);
    backdrop-filter: blur(9.5px);
    box-shadow: 0 0 10px 5px rgb(253 248 247 / 32%);
    border-bottom: 10px solid #1376bc;
}
.gallook{
    cursor: pointer;
    padding: 16px;
    color: #232f54;
    font-size: 20px;
    font-weight: 400;
    transition: 0.6s ease;
    border-radius: 50%;
    background-color: #232f5400;
    color: #ffffff;
    border-radius: 20px;
    top: 80%!important;
    text-align: center;
    border: 2px solid #ffffff;
}
@media screen and (max-width: 1024px) {
  .abtwrapper{
    width: 85vw;
  }
  .abtcontainer{
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}

.brakedisplay{
  display: block;
}
@media screen and (max-width: 700px) {
  .aboutcont,
  .mebccont{
    top: -480px;
  }
  .abtcontent span,
  .mebccontent span{
    font-size: 22px;
  }
  .aboutcont p,
  .mebccont p,
  .newscont p{
    font-size: 14px;
  }
  .abtcontainer,
  .mebccontainer{
    width: 30%;
    height: auto;
  }
  .mebcbutt{
    top: 500px!important;
  }
  .partnerbutt{
    top: 570!important;
  }
  .top5{
    background-position: 20%;
  }
  .tomebccont{
    margin-left: 0;
    padding-top: 275px;
  }
  .tomebccont span{
    font-size: 34px;
  }
  .brakedisplay{
    display: none;
  }
  .tomebcclock,
  .tomebcclock span{
    font-size: 24px;
  }
  .sponsors-cards{
    margin:-25px;
  }
  .alpha{
    margin: -35px;
  }
  .partnerscontent {
    margin-top: 60px;
  }
  .newscont p{
    display: none;
  }
  .nbeta{
    top: -545px;
  }
  .newscont{
    width: 75%;
    font-size: 14px;
  }
  .newscont i{
    font-size:1.5em;
  }
  .gallook{
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .abtwrapper{
    top: 350px;
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .abtcontainer{
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 500px){
  .top1,.top2{
    height: 650px;
  }
}
@media screen and (max-width: 700px) {
  .contactplace .centered-text{
      font-size: 24px;
      top: 25%;
  }
  .contactplace p{
      font-size: 14px;
      top: 45%;
  }
  .overmainimage{
    padding: 6px;
    font-size: 45px;
    width: 80%;
  }
  .overmainimage1{
    color: #ffffff;
    text-align-last: center;
    font-size: 40px;
  }
}
@media screen and (max-width: 800px){
  .slideshow-containerc {
    top: 60px;
  }
  .sponsors-cards .logo{
    width: 130px;
    height: 60px;
    margin: 5px 15px;
  }
  .sponsors-cards .logo a{
    width: 100px;
  }
  .prev, .next {
    margin-left: 8px;
    margin-right: 8px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
  }
  .teamcont .centeredtitle {
    font-size: 13px;
  }
  .teamcont .centeredtitle span{
    font-size: 18px;
    padding-bottom: 10px;
  }
  .ourbusiness .parag {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 15px;
  }
  .pagetitlebg .centered{
    left: 50%;
    text-align: center;
    font-size: 17px;
  }
  .contactplace p{
    width: 80%;
  }
}
/*--------------------------------------------------------------
# Home end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# tss fam start
--------------------------------------------------------------*/

.pagetitlebg1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid #373737;
    height: 150px;
}
.pagetitlebg1 .centered1{
    color: #f38e40;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin-right: 2%;
    padding: 50px 0 0 80px;
}
.menubutt{
    display: inline-block;
    background-color: #254e9c;
    border: 2px solid #254e9c;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 18px;
    margin: 25px 0;
    height: 40px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
}
.mactive,
.menubutt:hover {
    background-color: #ffffff;
    color: #1376bc;
    border: 2px solid #1376bc;
}
.maincont{
    margin-right: 50px;
    overflow: hidden;
    padding-bottom: 40px;
}
.homecontainertss{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  .overflow: hidden;
  padding-top: 40px;
  font-weight: 400;
}
.homecontainertssleft{
  flex-direction: row-reverse;!important
}
.homecontainertss .parag{
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  padding-left: 5%;
  font-size: 16px;
  color: #232f54;
  line-height: 20px;
  font-weight: 600;   
}
.homecontainertss .parag i{
  font-size: 12px;
  margin: 10px 10px 0 0;
  padding: 5px;
  color: #1376bc;
  border-radius: 50%;
  border: 2px solid #1376bc;
}
.homecontainertss .parag .title{
  font-size: 30px;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  width: 100%;
  line-height: 40px;
  text-align: left;
  font-weight: 600;
  padding-bottom: 20px;
  color: #f38e40;
}
.homecontainertss .image{
  width: 48%;
  align-self: center;
  padding-left: 5%;
}
.movefromleft{
  animation: mymoveleft 3s;
}
@keyframes mymoveleft {
  from {transform: translateX(-100%);}
  to {transform: translateX(0%);}
}
.movefromright{
  animation: mymoveimg 3s;
}
@keyframes mymoveright {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
}
@media screen and (max-width: 930px){
  .homecontainertss{
    flex-direction: column;
    align-items: center;
  }
  .maincont{
    margin-right: 0;
    display: block;
  }
  .homecontainertss .image{
    display: flex;
    justify-content: center;
    padding-left: 0;
    width: 90%;
    padding-top: 20px;
  }
  .homecontainertss .parag{
    padding-left: 2%;
    padding-right: 2%;
    width: 90%;
  }
  .homecontainertss .parag .title{
    font-size: 24px;
    line-height: 25px;
  }
}
@media screen and (max-width: 800px){
  .homecontainertss .parag{
    font-size: 14px;
  }
  .homecontainertss .parag .title{
    font-size: 24px;
  }
  .pagetitlebg .centered{
    left: 50%;
    text-align: center;
    font-size: 24px;
  }
  .pagetitlebg1{
    justify-content: center;
  }
  .pagetitlebg1 .centered1{
      margin-right: 0;
      padding: 20px 0 0 0;
      font-size: 24px;
      text-align: center;
      width: 100%;
  }
  .pagetitlebg1 .menubutt{
      font-size: 16px;
      margin: 0;
  }
}
.induvidual-cards{
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 40px;
}

.induvidual-cards .card{
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: 30px;
}
.induvidual-cards .card .centeredtitle {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  width: 100%;
  height: 25%;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
}
.induvidual-cards .card:hover .centeredtitle{
  height: 100%;
  background: rgba(7, 28, 78, 0.5);
  transition: 1s;
}
.induvidual-cards img{
  width: 100%;
  border-radius: 15px;
}

.induvidual-cards span{
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}
.induvidual-cards p{
  font-size: 20px;
  font-weight: 400;
  width: 100%;
}
.induvidual-cards .card .centeredtitle .dips{
  display: none;
  transition: 2s;
}
.induvidual-cards .card:hover .centeredtitle .dips{
  display: block;
}
.homecontainertss .parag span a i,
.induvidual-cards .card .centeredtitle i{
  padding: 5px;
  margin: 10px;
  color: #ffffff;
  background-color: #254e9c;
  border-radius: 50%;
  border: 2px solid #254e9c;
}
.homecontainertss .parag span a i:hover,
.induvidual-cards .card .centeredtitle i:hover{
  color: #1376bc;
  background-color: #ffffff;
  border: 2px solid #1376bc;
}
@media screen and (max-width: 600px) {
  .induvidual-cards .card{
    width: 35%;
    margin: 15px;
  }

  .induvidual-cards img{
    width: 100%;
  }
  .induvidual-cards .card .centeredtitle {
    height: 30%;
  }
  .induvidual-cards span{
    font-size: 14px;
    font-weight: 500;
  }
  .induvidual-cards p{
    font-size: 12px;
    font-weight: 400;
  }
}
/*--------------------------------------------------------------
# TSS fam end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# partners start
--------------------------------------------------------------*/
.partners{
  margin-top: 40px;
}

.partner-title{
  text-align: center;
  padding: 20px 0 0;
}
.partner-title span{
  color: #f38e40;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 30px;
}
.partnersflow{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 0px 8px 16px 0px rgba(35, 47, 84, 0.5);
  border-radius:30px 0 0 30px;
  border: 2px solid #dcdcdc;
  margin: 0 7% 40px;
}
.partnersflow .left-image{
  width: 40%;
  text-align: center;
  align-self: center;
  position: relative;
}
.partnersflow .left-image img{
  width: 70%;
}
.partnersflow .right-text{
  width: 60%;
  align-self: center;
  text-align: center;
  padding: 5%;
  font-size: 16px;
  font-weight: 400;
  background: #1376bc4a;
  border-radius:  0 0 0 200px;
}
.partnersflow .centeredtitle {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.partnersflow .right-text p{
  text-align: justify;
  padding-top: 20px;
}
@media screen and (max-width: 800px){
  .partnersflow{
    flex-direction: column;
    border-radius: 0 0 30px 30px;
  }
  .partnersflow .left-image{
    width: 100%;
    padding: 50px 0;
    text-align: center;
  }
  .partnersflow .right-text{
    width: 100%;
    font-size: 14px;
    border-radius: 0 0 30px 30px;
  }
  .partnersflow .left-image img{
    border-radius: 0;
    margin-left: 0;
  }
  .partnersflow .centeredtitle {
    border-radius:  0;
  }
  .partnersflow .sub-title{
    font-size: 24px;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }
}
/*--------------------------------------------------------------
# process end
--------------------------------------------------------------
/*--------------------------------------------------------------
# product page
--------------------------------------------------------------*/
.containermain .card {
  box-shadow: 0 8px 16px 0 rgba(44, 43, 43, 0.911);
  border-radius: 15px;
  border: 2px solid #dcdcdc;
  background-color: #ffffff;
  margin: 20px;
  width: 28%;
  text-align: center;
  color: #000000;
  padding: 20px 25px;
  height: 370px;
  position: relative;
}
.containermain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.containermain .card:hover {
  box-shadow: 0px 0px 10px 6px rgb(35 47 84 / 50%)
}

.containermain .card .title{
  margin-top: 10px;
  margin-bottom: 15px;
  color: #f38e40;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  width: 100%;
  height: 55px;
  font-size: 30px;
  font-weight: 600;
}
.containermain .card h3{
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #1376bc;
}
.containermain .card p{
  width: 100%;
  height: 55px;
  font-size: 20px;
  font-weight: 400;
  color: #232f54;
}
.containermain .card .productcontent p{
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}
.containermain .card .productcontent i{
  color: red;
  font-size: 24px;
  padding-right: 20px;
}
.containermain .card .productcontent .tick{
  color: green;
  padding-right: 10px;
}
.don-cont{
  padding-top: 0!important;
  padding-bottom: 40px!important;
}
.don-contact{
  padding: 0 10px 0!important;
  height: 320px!important;
  margin-top: 20px;
}
.don-addc{
  width: 80%;
  align-self: center;
}
@media screen and (max-width: 1000px) {
  .containermain  .card {
      height: 325px;
      margin:10px;
  }
  .containermain .card .title{
    height: 50px;
    font-size: 20px;
  }
  .containermain .card .productcontent p{
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .containermain  .card {
      width: 85%;
      height: 300px;
      margin:10px;
  }
  .containermain .card .title{
    height: 35px;
    font-size: 24px;
  }
  .containermain .card .productcontent p{
    font-size: 20px;
  }
}
/*--------------------------------------------------------------
# product end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# news start
--------------------------------------------------------------*/

.top-content{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
    background-color:#ffffff;
    width: 100%;
    padding-top: 0;
    margin-top: -4px;
    display: flex;
    align-items: center;
}
/*FILTER*/
.top-content h3{
    display: block;
    color:#1B2840 ;
    line-height: 60px;
    font-size: 20px;
    padding: 0 50px;
}
.top-content .btn-nav{
    margin-left: 1%;
  height: 46px;
  line-height: 29px;
  border-radius: 34px;
}

.top-content #myInput{
    width: 100%;
    font-size: 18px;
    padding: 14px 20px 14px 20px;
    border-radius: 20px;
    border: 1px solid #1B2840;
    display: block;
    height: 46px;
}

.top-content #myInput:focus {outline: none;}

.top-content .dropdown {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.top-content .dropdown-content {
  margin-top: 45px;
  display: none;
  position: absolute;
  background-color: #1B2840;
  width: 90%;
  margin-left: 5%;
  height: 150px;
  overflow: auto;
  z-index: 1;
}

.top-content .dropdown-content option{
  color: #85CEBC;
  padding: 12px 16px;
  text-decoration: none;
}
.top-content .dropdown option:hover {
    color: #ffffff;
    border: 1px solid #85CEBC;
}

.top-content .show {display: block;}

.raised{
    z-index: 1;
}

.containermain .card {
    box-shadow: 0px 3px 6px #1B2840;
    border-radius: 15px;
    border: 2px solid #1B2840;
  transition: 0.3s;
  color: white;
  background-color: #ffffff;
  margin: 20px;
  width: 30%;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
    height: 400px;
    position: relative;
}
.containermain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.containermain .card:hover {
  box-shadow: 0 8px 16px 0 rgba(44, 43, 43, 0.911);
}
.containermain .orgname{
    margin-top: 40px;
  width: 100%;
  height: 30px;
    font-size: 15px;
    color: #1B2840;
}
.containermain .centeredpic{
    position:absolute ;
    top: 100px;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#fff ;
    border: 6px solid #ffffff;
    letter-spacing: 4px;
    font-size:20px;
    display: inline;
    padding: 10px 30px 10px;
}
.containermain .orgbut{
  width: 100%;
}
.containermain .image1 {
    position: relative;
    overflow: visible;
    display: block;
    height: 180px;
    width: 100%;
    border-radius: 15px;
}
.containermain .video1 {
    height: -webkit-fill-available;
    display: block;
    width: 100%;
    border-radius: 15px;
}
.containermain .titlecard{
    font-size: 18px;
}
.viewprofilebutton {
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  margin-top: 70px;
  border-radius: 34px;
}

@media screen and (max-width: 1200px) {
  .containermain  .card {
      width: 45%;
      margin:10px;
  }
  .containermain{
    padding: 20px;
  }
    .btn-nav{
        font-size: 15px;
        padding: 6px 17.68px;
    }
    .top-content{
        justify-content: center;
    }
    .top-content #myInput{
        font-size: 16px;
        width: 70%;
    }
    .top-content .dropdown {
        margin-left: 0;
        margin-right: -60px;
    }
    .top-content h3{
        display: none;
    }
    .top-content .dropdown-content {
        width: 55%;
    }
    .top-content .dropdown-content option{
        font-size: 10px;
        padding: 14px 9px;
    }
}
@media screen and (max-width: 750px) {
  .containermain  .card {
      width: 80%;
      margin:15px;
  }
  .containermain{
      margin-left: 3%;
      margin-right: 1%;
      padding: 0;
  }
    .btn-nav{
        font-size: 12px;
        line-height: 13px;
    }
    .top-content .dropdown-content {
        width: 50%;
    }
    .top-content .dropdown-content option{
        font-size: 7px;
        padding: 8px 5px;
    }
}
/*--------------------------------------------------------------
# news end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# contact us start
--------------------------------------------------------------*/
.contactuscontainer{
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 40px;
  font-weight: 400;
  padding-bottom: 20px;
}
.contactuscontainer .contactform{
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  width: 48%;
  font-size: 18px;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.contactuscontainer .contactform input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactuscontainer .contactform .contactsubmit,
.containerform .contactsubmit {
  color: #ffffff;
  background-color: #254e9c;
  border: 2px solid #254e9c;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 18px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.contactuscontainer .contactform .contactsubmit:hover,
.containerform .contactsubmit:hover {
  color: #1376bc;
  background-color: #ffffff;
  border: 2px solid #1376bc;
}
.contactuscontainer .contactaddress{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 48%;
  padding: 20px;
  height: 600px;
}
.contactuscontainer .contactaddress .addcontent{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 0 10px 0; 
}
.contactuscontainer .contactaddress i{
  padding-right: 10px;
  color: #1376bc;
}
.contactuscontainer .contactaddress .socialmedia{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}

.contactuscontainer .contactaddress .socialmedia i{
  padding-right: 10px;
  padding: 5px;
  color: #ffffff;
  background-color: #254e9c;
  border: 2px solid #254e9c;
  font-size: 24px;
  border-radius: 50%;
}
.contactuscontainer .contactaddress .socialmedia i:hover{
  color: #1376bc;
  background-color: #ffffff;
  border: 2px solid #1376bc;
}
.mapview{
  padding: 20px;
}
@media screen and (max-width: 825px){
  .contactuscontainer{
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    padding-bottom:  0px;
  }
  .contactuscontainer .contactform{
    width: 90%;
    font-size: 16x;
    padding: 10px;
  }
  .contactuscontainer .contactaddress{
    height: 260px;
    padding: 20px 10px 0;
    width: 90%;
    margin-top: 0;
  }
  .contactuscontainer .contactform input[type=text], select, textarea {
    font-size: 14px;
  }
  .contactuscontainer .contactform .contactsubmit {
    font-size: 16px;
  }
}
@media screen and (max-width: 345px){
  .contactuscontainer .contactaddress{
    padding: 20px 0 0;
  }
}
/*--------------------------------------------------------------
# contact us end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.quickfooter{
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 30px;
  background-color: #dcdcdc;
  font-weight: 400;
  padding-bottom: 30px;
  width: 100%;
}

.quickfooter .logo-left{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.quickfooter .logo-left a{
  padding: 20px;
}
.quickfooter .logo-left .img1{
  width: 25%;
}
.quickfooter .logo-left .img2{
  width: 50%;
}
.quickfooter .quickaddress{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 5px;
}
.quickfooter .quicklink{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  width: 25%;
}
.quickfooter .quickaddress .contentaddress{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px 10px; 
}
.quickfooter .quicklink .contentaddlink{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  border-left: 2px #1376bc solid;
  border-right: 2px #1376bc solid;
  padding: 0 20px;
}
.quickfooter .quicklink .contentaddlink .title{
  font-size: 24px;
  color: #f38e40;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  width: 100%;
  font-weight: 600;
  padding-bottom: 10px;
}
.quickfooter .quickaddress i{
  padding-right: 10px;
  color: #1376bc ;
}
.quickaddress .quicksocialmedia{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}
.quickaddress .quicksocialmedia i{
  padding: 5px;
  color: #ffffff;
  background-color: #254e9c;
  border-radius: 50%;
  border: 2px solid #254e9c;
}
.quickaddress .quicksocialmedia i:hover{
  color: #1376bc;
  background-color: #ffffff;
  border: 2px solid #1376bc;
}
.quickfooter .quicklink a{
  color: #232f54;
  padding: 5px;
}
.quickfooter .quicklink .menu-active,
.quickfooter .quicklink a:hover {
  color: #1376bc;
}
.footer{
  height: 40px;
  color: #dcdcdc;
  font-size: 12px;
  background-color: #232f54;
  padding: 10px;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.footer .leftalign{
  float: left;
}
@media screen and (max-width: 800px){
  .quickfooter{
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 14px;
  }
  .quickfooter .quicklink .contentaddlink{
    border-left: 0;
    border-right: 0;
    border-top: 2px #1376bc solid;
    border-bottom: 2px #1376bc solid;
    padding: 20px 0;
  }
  .quickfooter .logo-left{
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .quickfooter .logo-left a{
    padding: 10px;
  }
  .quickfooter .logo-left .img1{
    width: 75%;
  }
  .quickfooter .logo-left .img2{
    width: 75%;
  }
  .quickfooter .quickaddress{
    width: 90%;
    border-right: none;
  }
  .quickfooter .quicklink{
    width: 90%;
  }
  .footer{
    text-align: center;
    padding: 5px;
  }
  .footer .leftalign{
    float: none;
  }
}
@media screen and (max-width: 380px){
  .quickfooter .quickaddress, .quickfooter .quicklink{
    padding: 0;
  }
  .footer{
    font-size: 10px;
  }
}
@media screen and (max-width: 405px){
  .quickfooter .quickaddress .contentaddress{
    padding: 10px 0 10px 0; 
  }
}
/*--------------------------------------------------------------
# footer end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Gallery start
--------------------------------------------------------------*/
.gallerycont {
   line-height:0;
   column-count:4;
   column-gap:5px;
   padding: 20px;
}
.gallerycont img {
   width: 100% !important;
   height: auto !important;
   border: 2px solid black;
   margin-bottom:5px; /* to match column gap */
   opacity: 0.8;
   display: table-column;
}
.gallerycont img:hover {
  opacity: 1;
  box-shadow: 0px 0px 10px 6px rgb(35 47 84 / 50%)
}
@media (max-width: 1000px) {
   .gallerycont {
    column-count:3;
   }
}
@media (max-width: 800px) {
   .gallerycont {
    column-count:2;
   }
}
.galleryexpand{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 40px;
}

/*.galleryexpand .card{
  width: 23%;
  border-radius: 13px;
  height: 200px;
  color: #232f54;
  display: flex;
  border: solid 2px red;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}

.galleryexpand .cardimg{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 13px;
  opacity: 0.8;
  margin-bottom: 20px;
}
.galleryexpand .cardimg:hover{
  opacity: 1;
  box-shadow: 0px 0px 10px 6px rgb(35 47 84 / 50%)
}*/
.galleryexpand .imginalbum{
  width: 240px;
  height: 135px;
  object-fit: cover;
  border-radius: 13px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
}

/*@media screen and (max-width: 600px) {
  .galleryexpand .card{
    margin: 15px;
  }
  .galleryexpand .cardimg{
    width: 46%;
  }
}*/
.productpgsplit{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}
.sidebar-content{
  width: 26%;
  min-width: 340px;
  display: block;
  padding-bottom: 40px;
}
.sidebar-content .maintitle{
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
  display: block;
  color: #f38e40;
  font-weight: 800;
  font-size: 20px;
  outline: none;
  font-family: 'Bitter', serif;  
}
.sidebar-content .sidebar{
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background-color: #254e9c;
  margin-bottom: 5px;
  display: block;
  color: #ffffff;
  border: 2px solid #254e9c;
  font-weight: 600;
  outline: none;
  font-family: 'Bitter', serif;
}
.sidebar-content .sidebar i{
  float: right;
}

.activesidebar,
.sidebar-content .sidebar:hover {
  color: #1376bc!important;
  border: 2px solid #1376bc!important;
  background-color: #ffffff!important;
}
.main-content{
  width: 60%;
  display: block;
}
@media screen and (max-width: 1000px) {
  .sidebar-content{
    width: 100%;
    min-width: 300px;
  }
  .main-content{
    width: 100%!important;
  }
  .productpgsplit{
    display: block;
  }
  .galleryexpand{
    justify-content: center;
  }

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content{  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/*--------------------------------------------------------------
# Gallery end
--------------------------------------------------------------*/
